
<div>
	<h2>Create User</h2>
	{{user}}
	<form name="create_user_form" ng-submit="save(user)" novalidate>
		<label>Username:</label>
			<input type="text" name="username" ng-model="user.username" required>
		<label>Name:</label>
			<input type="text" name="name" ng-model="user.name" >
		<label>Email:</label>
			<input type="text" name="email" ng-model="user.email" 
			required ng-pattern="'.*@.*?\\..*'">
		<label>Company name:</label>
			<input type="text" name="company_name" ng-model="user.company.name">
		<br/>
		{{'Form valid:' + create_user_form.$valid}}
		{{'Name valid:' +create_user_form.username.$valid}}
		<br/>
		<input type="submit" ng-disabled="create_user_form.$invalid" value="Create" class="btn btn-default"></input>
	</form>
<a ui-sref="^.list">Users</a>
</div>
<style>
label{
	display: block;
}
.has-error, input.ng-invalid{
	border:1px solid red !important;
	color: red;
}
</style>