<div>

<label> on keyup </label>
<input type="text" ng-model="user.name"> 
<br/>

<div ng-controller="SubBasicsCtrl" class="child-scope">
<label>Delay model update</label>
<input type="text" ng-model="user.name" ng-model-options="{debounce: 300}"/>
<br/>
<label>Update on blur</label>
<input type="text" ng-model="user.name" ng-model-options="{updateOn: 'blur'}"/>
 
</div>

<h1 ng-click="user.sayHello()">
{{ 'hello ' + greeting }}
</h1>


<style>
label{
	width: 150px;
}
.child-scope{
	border:1px solid red
}
</div>