<input ng-model="outer_barcode" ng-init="outer_barcode = '1234567'"></input>

<select class="type" ng-model="outer_type">
	<option selected value="ean8" >ean8</option>
	<option value="code11">code11</option>
</select>

{{barcode}}


<div barcode="outer_barcode" type="outer_type" style="border:1px solid black; padding:20px;"></div>