<div person-card  person="employee">
FirstName: {{employee.firstName}}
</div>

<person-card person="employee" title="Card">
FirstName: {{employee.firstName}}
</person-card>


<div class="person-card"  person="employee" my-click="alert(employee)">
FirstName: {{employee.firstName}}
</div>

{{isolated}}
<dom-directive>

</dom-directive>

<h1>Transcludes</h1>

<transclude-demo>
	<a>Transcluded</a> html content
</transclude-demo>

<hr/>

<transclude-demo></transclude-demo>