<div>
	<label>Name</label>
	<input type="text" ng-model="employee.firstName">

	<label>Lastname</label>
	<input type="text" ng-model="employee.lastName">

	<a class="btn btn-success" ng-click="employees.addEmployee(employee, manager)">Add Employee</a>
</div>