<div>
	<label>Name</label>
	<input type="text" ng-model="manager.firstName">

	<label>Lastname</label>
	<input type="text" ng-model="manager.lastName">

	<div ng-bind="manager.getFullName()"></div>

	<a class="btn btn-primary pull-right" ng-click="manager.clear()">Clear</a>

	<ui-view>
		<a ui-sref="manager.employees">Employees</a>
	</ui-view> 
</div>