<div ng-if="manager.firstName">d
	<h3> Managed Employees </h3>
	<ul>
		<li ng-repeat="emp in employees.allEmployees |filter:{manager:manager.firstName}"
		ng-style="{color:!emp.manager? 'red':'black'}">
			<a ui-sref="manager.employees.show_employee({firstName:emp.firstName})">
				{{emp.firstName}}
			</a>
		</li>
	</ul>
	
	<ui-view>

		<a ui-sref="manager.employees.add_employee">Employee Adding Form</a>
	</ui-view> 
</div>