<div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">angular</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
          <li ui-sref-active="active">
            <a ui-sref="main">Home</a>
          </li>
          <li ui-sref-active="active"><a ui-sref="about">About</a></li>
          <li ui-sref-active="active"><a ui-sref="basics">Basics</a></li>
          <li ui-sref-active="active"><a ui-sref="person">Person</a></li>
          <li ui-sref-active="active"><a ui-sref="manager">Manager</a></li>
        </ul>
      </div>
    </div>
  </div>