<div>

	<label>Name</label>
	<input type="text" ng-model="employee.firstName">

	<label>Lastname</label>
	<input type="text" ng-model="employee.lastName">

	<div ng-bind="employee.getFullName()"></div>

	<a class="btn btn-primary pull-right" ng-click="employee.clear()">Clear</a>

</div>